<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Hype</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔥</text></svg>"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css" />
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <img src="../images/THE HYPE.png" width="112" height="40">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">

      <a class="navbar-item" href="/">Home</a>
      {{#if loggedIn}}
        <a class="navbar-item" href="/dashboard">Dashboard</a>
      {{else}}
        <a class="navbar-item" href="/login">Dashboard</a>
      {{/if}}
      {{#if loggedIn}}
        <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
        <a class="navbar-item" href="/login">Login</a>
      {{/if}}

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">More</a>
          <div class="navbar-dropdown">
            <a class="navbar-item">About Us</a>
            <a class="navbar-item">Contact</a>
              <hr class="navbar-divider">
                <a class="navbar-item">Report an issue</a>
          </div>
      </div>
    </nav>

    <header>
      <div class="main-title">
        {{#if dashBoard}}
        <h1>Dashboard</h1>
        {{else}}
        <h1>The Hype</h1>
        {{/if}}     
      </div>
    </header>
    <div class="wrapper"></div>
      <main>
        {{{body}}}
      </main>
      <footer>
        The Hype 2022
      </footer>
    </div>
  </body>
  {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
  {{/if}}
</html>