<section>
    <div class="about-us box has-text-white">
        <div class="about">
            About Us
        </div>
        <div class="mission has-text-centered has-text-weight-semibold">
            <p>Our mission at The Hype is to provied you with the latest and hotest updates in all <br>
                of media from sports, to celebrities, to the hotest trends in fashion and much more.
            </p>
        </div>

    <div class="founders has-text-white has-text-weight-semibold">
        <h1>Founders</h1>
    </div>

    <div class="columns has-text-centered has-text-white has-text-weight-semibold">
        <div class="column">
            <h2>Eli Pagan</h2> <br>
            <p>Full Stack <br>
            Web Developer</p>
        </div>
        <div class="column">
            <h2>Brian Arsenault</h2> <br>
            <p>Full Stack <br>
            Web Developer</p>
        </div>
        <div class="column">
            <h2>Gabriel Gallo Lopez</h2> <br>
           <p>Full Stack <br>
            Web Developer</p> 
        </div>
        <div class="column">
            <h2>Alvaro Ormeno</h2> <br>
            <p>Full Stack <br>
            Web Developer</p>
        </div>
    </div>
    </div>
    <footer style="padding-bottom: 1rem;" class="has-text-centered">
      &copy The Hype 🔥 2022
    </footer>
</section>