<section>
    <div class="about-us box has-text-white">
    <div class="about">
        About Us
        </div>
        <div class="mission has-text-centered">
            <p>Our mission at The Hype is to provied you with the latest and hotest updates in all <br>
               of media from sports, to celebrities, to the hotest trends in fashion and much more.
            </p>
        </div>
    </div>
    <div class="founders">
        Founders
    </div>
    <div class="columns has-text-centered">
    <div class="column box">Eli Pagan</div>
    <div class="column box">Brian Arsenault</div>
    <div class="column box">Gabriel Gallo Lopez</div>
    <div class="column box">Alvaro Ormeno</div>
    </div>
</section>