 <div class="about-us box has-text-white">
        <div class="about">
            About Us
        </div>
        <div class="mission has-text-centered has-text-weight-semibold">
            <p class="is-size-5">Our mission at The Hype is to provied you with the latest and hotest updates in all <br>
                of media from sports, to celebrities, to the hotest trends in fashion and much more.
            </p>
        </div>

    <div class="founders has-text-white has-text-weight-semibold">
        Founders
    </div>

    <div class="columns has-text-centered has-text-weight-semibold">
        <div class="column">
            <p class="is-size-4">Eli Pagan</p> <br>
            <p class="is-size-5">Full Stack <br>
            Web Developer</p>
        </div>
        <div class="column">
            <p class="is-size-4">Brian Arsenault</p> <br>
            <p class="is-size-5">Full Stack <br>
            Web Developer</p>
        </div>
        <div class="column">
            <p class="is-size-4">Gabriel Gallo Lopez</p> <br>
           <p class="is-size-5">Full Stack <br>
            Web Developer</p> 
        </div>
        <div class="column">
            <p class="is-size-4">Alvaro Ormeno</p> <br>
            <p class="is-size-5">Full Stack <br>
            Web Developer</p>
        </div>
    </div>
    </div>
    <footer style="padding-bottom: 1rem;" class="has-text-centered">
      &copy The Hype 🔥 2022
    </footer>