<div class="info box">
    <div class="contact has-text-white">
        Contact
    </div>
    <div class="contact-info has-text-white">
        <div class="has-text-centered">
            <p class="is-size-5">Address: The Greatest Place On Earth</p>
        </div>
        <br>
        <div class="has-text-centered">
            <p class="is-size-5">Phone: <span>&#128222;</span>
            <a class="phone" href="tel:+10000000000">1(000)-000-0000</a></p>
        </div>
        <br>
        <div class="has-text-centered">
            <p class="is-size-5">Email: <span class="is-size-4">&#9993;</span> 
            <a class="email" href="mailto:TheHypeGroup@gmail.com">TheHypeGroup@gmail.com</a></p>
        </div>
    </div>
</div>
<footer style="padding-bottom: 1rem;" class="has-text-centered">
    &copy The Hype 🔥 2022
</footer>