<section>
  <h2>Create New Post</h2>

  <form class="new-post-form">
    <div class="field">
      <label class="label" for="post-title">Title</label>
      <input class="input" type="text" id="post-title" name="post-title" />
    </div>
    
    <div class="field">
      <label class="label" for="post-description">Description</label>
        <div class="control">
          <textarea id="post-description" class="textarea" placeholder="Textarea"></textarea>
         </div>
    </div>
    <button class="button is-fullwidth is-dark is-large" type="submit" class="btn">Create</button>
  </form>
</section>

<br>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ul>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <div class="button" style="margin-bottom: 1rem; font-weight: bold;">
        <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
      </div>      
    </li>
    {{/each}}
  </ul>
</section>
{{/if}}
<script src="/javascript/add-post.js"></script>