<div class='container'>
        <div>
            <h1 class='title has-text-centered'>Trending</h1>
        </div>
        <div class='columns is-mobile is-centered'>
            <div class='column is-5'>
                <div class='post-list'>
                    <ol>
                        {{#each posts as |post|}}
                            <li>
                            {{> post-info post }}    
                            </li>
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>
</div>