<br/>

<br/>




{{#if loggedIn}}
<article class="post vh-75">
  <form class="comment-form">
    <div class="container py-5 h-75">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                {{> post-info post}}
                <br>
                <hr>
                {{> comments post.comments}}
                <br>
                <hr>
                <div class="field">
                  <label class="label">New Comment</label>
                  <div class="control">
                    <textarea name="comment-body" class="textarea" placeholder="Textarea"></textarea>
                  </div>
                </div>
                <div class="field is-grouped">
                  <div class="control">
                    <button class="button is-link" type="submit">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
</article>

<footer id="footer" class="has-text-centered">
      &copy The Hype 🔥 2022
</footer>

{{/if}}



{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}

