{{> post-info post}}

{{> comments post.comments}}


{{#if loggedIn}}

<article class="post">
  <div class="title">
    <br>
      </div>
      <div style="margin: 1rem;">
<form class="comment-form">
    <div class="field">
      <label class="label" for="post-description">New Comment</label>
        <div class="control">
          <textarea name="comment-body" class="textarea" placeholder="Textarea"></textarea>
         </div>
    </div>

  <div>
    <button class="button is-fullwidth is-dark is-large" type="submit">submit</button>
  </div>
</form>
      </div>
</article>

{{/if}}


{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}