/* body {
    background-color: black;
} */

.img-main {
    width: 600px;
}

nav {
    padding: 1rem;
}

input[type=file]::file-selector-button {
    background-color: #fff;
    border-color: #dbdbdb;
    border-width: 1px;
    color: #363636;
    cursor: pointer;
    justify-content: center;
    /* padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px); */
    text-align: center;
    white-space: nowrap;
    border-radius: 4px;
}

#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: white;
}

/* contact.handlebars page */
.email {
    font-size: 30px;
}